<header class="main-header">
  <!-- Logo -->
  <a href="/ITRCPlanBudget/Default.aspx" class="logo">
    <!-- mini logo for sidebar mini 50x50 pixels -->
    <span class="logo-mini" style="font-size:13px"> <!-- <img src="/ITRCPlanBudget/images/logo.png" />-->
                        <i class="fa fa-2x fa-universal-access"></i></span>
    <!-- logo for regular state and mobile devices -->
    <span class="logo-lg"> <!-- <img src="/ITRCPlanBudget/images/logo.png" />-->
                        <i class="fa fa-lg fa-universal-access"></i>&nbsp;計畫預算查詢系統</span>
  </a>
  <!-- Header Navbar: style can be found in header.less -->
  <nav class="navbar navbar-static-top" role="navigation">
    <!-- Sidebar toggle button-->
    <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                        <span class="sr-only">Toggle navigation</span>
                    </a>
    <div class="navbar-custom-menu">
      <ul class="nav navbar-nav">
        <!-- User Account: style can be found in dropdown.less -->


        <!-- User Account: style can be found in dropdown.less -->
        <li class="dropdown ">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="fa fa-user"></i>
                                    <span class="hidden-xs">
                                        
                                    </span>
                                    <b class="caret"></b>
                                </a>
          <ul class="dropdown-menu">
            <li>
              <a href="#"><i class="fa fa-fw fa-user"></i>個人資料維護</a>
            </li>
            <li class="divider"></li>
            <li>
              <a href="../Login.aspx"><i class="fa fa-fw fa-power-off"></i>登出</a>
            </li>
          </ul>
        </li>
        <!-- Control Sidebar Toggle Button -->

        <li>
          <a id="BT_Home" href="javascript:__doPostBack('ctl00$BT_Home','')"> <i class="fa fa-home" style="margin-right:5px"></i>回首頁</a>
        </li>
      </ul>
    </div>
  </nav>
</header>